* {
    box-sizing: border-box;
}
.but {
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    width: 224px;
    height: 96px;
    cursor: pointer;
    margin-bottom: 40px;
}
.but:hover {
    background-color: #dc3353;
}
/**/


.mdl_box {
    backdrop-filter: blur(8px);
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}
.mdl_forma {
    background-color: white;
    max-width: 320px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transform: translate(0%, 0%);
}
#comment {
    padding: 12px 16px;
    max-width: 272px;
    max-height: 96px;
    background-color: #f0f2f5;
}
.forma_for_connect {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
#label-inpt {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.title_form {
    font-family: "Playfair Display", sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 137%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.paragraf_form {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-top: 20px;
    margin-bottom: 32px;
}
.user-inpt {
    padding: 12px 16px;
    width: 272px;
    font-family: "Montserrat", sans-serif;
    height: 48px;
    background: #f0f2f5;
    border: none;
    outline: none;
}
.red {
    border: 2px solid #dc3353; 
}
.text-com {
    max-height: 96px;;
    resize: none;
}
.but_submit {
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    width: 224px;
    height: 96px;
    background-color: white;
    background-image: url("data:image/svg+xml;charset=utf8,<svg id='red' width='222' height='94' viewBox='0 0 222 94' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M133.699 2.20215C155.77 3.53088 182.104 11.7271 196.363 19.3245C210.622 26.922 219.699 38.1416 219.253 47.7869C218.807 57.4322 208.976 69.8447 193.685 77.1962C178.395 84.5478 150.484 90.5205 127.508 91.8962C104.533 93.2718 75.9252 90.5549 55.8316 85.4501C35.7381 80.3452 14.5424 70.5534 6.94719 61.2671C-0.647992 51.9809 1.87962 38.812 10.2605 29.7324C18.6414 20.6528 34.5317 11.1258 57.2326 6.78968C79.9334 2.4536 129.755 3.70156 146.466 3.71594C163.176 3.73031 158.033 6.24123 157.498 6.87595M64.603 7.00618C84.1346 1.98616 114.74 -0.287981 136.699 1.73715C158.658 3.76228 182.31 11.1936 196.357 19.157C210.405 27.1203 221.498 39.9452 220.983 49.5172C220.467 59.0893 208.995 69.4061 193.263 76.5891C177.532 83.7721 150.016 91.1076 126.592 92.6154C103.168 94.1232 73.1985 91.0736 52.7178 85.6362C32.2371 80.1987 10.2441 69.3197 3.70776 59.9908C-2.8286 50.6619 3.2638 38.5311 13.4996 29.6629C23.7355 20.7947 56.9239 10.4263 65.1228 6.78162C73.3217 3.13693 62.7686 7.41137 62.6931 7.79469' stroke='%23DC3353' stroke-width='2' /></svg>");
    background-position: -0px -0px;
}
.close {
    position: absolute;
    right: 21px;
    cursor: pointer;
}
.close:hover {
    fill:#dc3353;
}
.title_feedback {
    font-family: "Hurricane", sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 79%;
    letter-spacing: 0.02em;
    color: #dc3353;
}
.star, .starr { 
    color:#dc3353;
    left: 0;
    position: absolute;
}
.star {
    left: 82px;
}
.starr {
    left: 143px;
}
